nav {
  padding: 0 5% 0 5%;
  background: rgb(24,24,24);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 0.5fr 2fr 0.5fr);
  color: white;
  font-family: "Encode Sans Semi Expanded", sans-serif;
}
nav ul {
  display: flex;
  list-style: none;
  /* background: chartreuse; */
  font-size: clamp(18px, 1.5vw, 2vw);
  justify-content: space-around;
  align-items: center;
  justify-self: start;
  z-index: 100;
}
nav li {
  margin: 0 4vw 0 0;
  z-index: 100;
}
nav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
nav p {
  background: rgb(83, 78, 78);
  text-align: center;
  padding: 1.5vh;
  border-radius: 8px;
  font-size: clamp(18px, 1.5vw, 2vw);
  z-index: 100;
}
nav li:hover,
nav p:hover,
nav a:hover {
  /* color: rgb(255, 254, 254, 0.5); */
  color: rgb(202, 52, 82);
  z-index: 100;
}
nav p:hover {
  background: rgb(59, 53, 53);
  z-index: 100;
}
.menu {
  display: none;
}

@media all and (max-width: 750px) {
  nav {
    grid-template-columns: repeat(1, 1fr);
  }
  nav ul{
    display: block;
    padding: 0;
    z-index:100;
  }
  nav li {
    margin: 3vh 0 0 0;
    z-index: 100;
  }
  nav p {
    width: 30%;
  }
  .menu {
    display: block;
    position: absolute;
    top: 3vh;
    right: 5%;
  }
}