body {
  background: rgb(23, 23, 23);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav section */

nav {
  padding: 0 5% 0 5%;
  /* background: red; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 0.5fr 2fr 0.5fr);
  color: white;
  font-family: "Encode Sans Semi Expanded", sans-serif;
}
nav ul {
  display: flex;
  list-style: none;
  /* background: chartreuse; */
  font-size: clamp(18px, 1.5vw, 2vw);
  justify-content: space-around;
  align-items: center;
  justify-self: start;
  z-index: 100;
}
nav li {
  margin: 0 4vw 0 0;
  z-index: 100;
}
nav p {
  background: rgb(83, 78, 78);
  text-align: center;
  padding: 1.5vh;
  border-radius: 8px;
  font-size: clamp(18px, 1.5vw, 2vw);
  z-index: 100;
}
nav li:hover,
nav p:hover {
  /* color: rgb(255, 254, 254, 0.5); */
  color: rgb(202, 52, 82);
  z-index: 100;
}
nav p:hover {
  background: rgb(59, 53, 53);
  z-index: 100;
}
.menu {
  display: none;
}

@media all and (max-width: 750px) {
  nav {
    grid-template-columns: repeat(1, 1fr);
  }
  nav ul {
    display: block;
    padding: 0;
    z-index: 100;
  }
  nav li {
    margin: 3vh 0 0 0;
    z-index: 100;
  }
  nav p {
    width: 30%;
  }
  .menu {
    display: block;
    position: absolute;
    top: 3vh;
    right: 5vw;
  }
}

/* Header section */

   header {
  color: white;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(340px, 45%, 50%));
  justify-content: center;
  align-items: center;
  padding: 0 5% 0 5%;
}
header section {
  justify-self: center;
}
header section h1 {
  z-index: 100;
  font-size: clamp(36px, 3.6vw, 4vw);
  background: linear-gradient(
    to right,
    crimson 20%,
    rgb(158, 10, 39) 42%,
    rgb(218, 112, 133) 20%,
    rgb(255, 255, 255)
  );
  color: rgb(255, 255, 255, 0.2);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
header section p {
  font-size: clamp(19px, 1.5vw, 2.4vw);
  z-index: 100;
  color: rgb(255, 255, 255, 0.8);
}
header section button {
  font-size: clamp(20px, 2.2vw, 3vw);
  padding: 1.4vh;
  width: 70%;
  margin: 0 0 8vh 13%;
  border-radius: 8px;
  border: none;
  color: white;
  background: linear-gradient(
    to bottom left,
    rgb(214, 40, 75) 36%,
    rgb(255, 91, 124) 64%
  );
}
header section button:hover {
  background: linear-gradient(to top right, crimson 36%, white);
}
header video {
  justify-self: center;
  width: 100%;
  height: 64%;
  border-radius: 10px;
}
.gr1 {
  background: rgb(255, 255, 255, 0.2);
  width: 40vw;
  height: 50vh;
  position: absolute;
  top: 30vh;
  left: 0vw;
  filter: blur(440px);
}

@media all and (max-width: 750px) {
  header {
    padding: 0 0 4vh 0;
  }
  header video {
    height: 100%;
  }
} 

/* main section */

main section {
  background: rgb(245, 249, 250);
  /* background: yellow; */
  margin: 0;
}
.img,
.h1,
.p {
  padding: 0 5% 0 5%;
}
.img{
  margin: 3vh 0 0 0;
}
.h1{
  font-size: clamp(30px,2.8vw,3.2vw);
  font-family:'Encode Sans Semi Expanded', sans-serif;
  font-weight: bold;
  color: crimson;
}
.p{
  font-size: clamp(16px,1.7vw,2.4vw);
  font-weight: 900;
  font-family:'Encode Sans Semi Expanded', sans-serif ;
  line-height: 5.6vh;
}
.cta{
  color: crimson;
  text-decoration: none;
}
main section menu, main article menu {
  background: rgb(250, 250, 250);
  /* background: red; */
  padding: 3vh 0 3vh 0;
  margin: 0 0 0 0;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(2, 30vw 30vw 30vw 30vw 30vw);
  overflow-x: hidden;
}
 /* main section menu div:hover{
  animation-play-state: paused;
  z-index: 100;
}  */
main section menu div, main article menu div {
  background: rgb(250, 250, 250);
  height: 42vh;
  border-radius: 8px;
  margin: 0 0 0 3vw;
  padding: 0 0 0 0;
  box-shadow: 0 0 20px -10px;
  animation: movement 10s linear infinite;
}
main menu div img {
  width: 100%;
  height: 70%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin: 0 0 1vh 0;
}
main menu div a {
  text-decoration: none;
  color: rgb(14, 190, 190);
  font-size: clamp(21px, 1.5vw, 2vw);
  margin: 2vh 0 0 5%;
}
main menu div a:hover {
  color: purple;
}
main menu div p {
  font-size: clamp(16px, 1.3vw, 1.8vw);
  margin: 1vh 0 0 5%;
}

main article{
  background: white;
  margin: 0 0 0 0;
  padding: 0 0 1vh 0;
}
.blog{
  color: crimson;
  font-size: clamp(24px,2.4vw,3vw);
  margin: 0 0 0 8%;
}

@keyframes movement {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-180vw);
  }
}

@media all and (max-width: 1050px) {
  main section menu, main article menu {
    grid-template-columns: repeat(1, 80% 80% 80% 80% 80% );
  }
  main section menu div, main article menu div{
    margin: 2vh;
  }
}  

  /* menu section */


 .sub{
  background: rgb(24, 24, 24);
  margin: 0vh 0 0 0;
  padding: 1vh 0 1vh 0;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family:'Encode Sans Semi Expanded', sans-serif;
}
.first{
  text-align: center;
} 
 .sub a{
  color: crimson;
  text-decoration: none;
}
.sub a:hover{
  color: white;
}

@media all and (max-width:750px){
 .sub{
   display: block;
 }
 .second{
   text-align: center;
   border-top: 2px solid white;
   border-bottom: 0.5px solid white;
 }
}
 
/* footer section */

footer {
  box-sizing: border-box;
  color: white;
  background: rgb(23, 23, 23);
  padding: 0 5vw 0 10vw;
  font-family: "prompt", sans-serif;
  display: grid;
  grid-template-columns: 40vw 40vw;
  column-gap: 5vw;
}
footer section p {
  opacity: 0.7;
}
footer article {
  display: grid;
  grid-template-columns: 20vw 20vw;
}
footer h1 {
  opacity: 0.9;
}
footer ul {
  padding: 0 0 0 0;
}
footer li {
  list-style: none;
  opacity: 0.7;
}
footer menu {
  /* background: red; */
  width: 92.4vw;
  margin: 0 0 0 -10vw;
}
footer menu p {
  text-align: center;
}

@media all and (max-width:750px){
  footer {
    grid-template-columns: 80vw;
  }
  footer article {
    column-gap: 30vw;
  }
  footer menu {
    margin: 0 0 0 -15.5vw;
  }
}